div{
  height: 100px;
  width: 100px;
  border: 1px solid;
}
.red{
  background-color: red;
  position: absolute;


}
.yellow{
  background-color: yellow;
  position: absolute;
  margin: 20px 20px;
  z-index: 1;
}
.blue{
  background-color: blue;
  position: absolute;
  margin: 40px 40px;
  /* كل ما كبر الرقم يروح ورا وقدام بحيث اللي قدام أكبر رقم واللي ورا اقل رقم  */
  z-index: 2;
}
